In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [7]:
road= pd.read_csv('KSI.csv')

In [8]:
road.head()

,X,Y,INDEX_,ACCNUM,YEAR,DATE,TIME,HOUR,STREET1,STREET2,...,PASSENGER,SPEEDING,AG_DRIV,REDLIGHT,ALCOHOL,DISABILITY,POLICE_DIVISION,HOOD_ID,NEIGHBOURHOOD,ObjectId
0,-8844610.729,5412413.888,3387730,892658,2006,2006/03/11 05:00:00+00,852,8,BLOOR ST W,DUNDAS ST W,...,<Null>,<Null>,Yes,<Null>,<Null>,<Null>,D11,88,High Park North (88),1
1,-8844610.729,5412413.888,3387731,892658,2006,2006/03/11 05:00:00+00,852,8,BLOOR ST W,DUNDAS ST W,...,<Null>,<Null>,Yes,<Null>,<Null>,<Null>,D11,88,High Park North (88),2
2,-8816479.848,5434843.389,3388101,892810,2006,2006/03/11 05:00:00+00,915,9,MORNINGSIDE AVE,SHEPPARD AVE E,...,<Null>,<Null>,Yes,Yes,<Null>,<Null>,D42,131,Rouge (131),3
3,-8816479.848,5434843.389,3388102,892810,2006,2006/03/11 05:00:00+00,915,9,MORNINGSIDE AVE,SHEPPARD AVE E,...,<Null>,<Null>,Yes,Yes,<Null>,<Null>,D42,131,Rouge (131),4
4,-8822758.713,5424515.515,3387793,892682,2006,2006/03/12 05:00:00+00,240,2,EGLINTON AVE E,COMMONWEALTH AVE,...,<Null>,<Null>,<Null>,<Null>,Yes,<Null>,D41,138,Eglinton East (138),5

In [4]:
road.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16860 entries, 0 to 16859
Data columns (total 57 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   X                16860 non-null  float64
 1   Y                16860 non-null  float64
 2   INDEX_           16860 non-null  int64
 3   ACCNUM           16860 non-null  int64
 4   YEAR             16860 non-null  int64
 5   DATE             16860 non-null  object
 6   TIME             16860 non-null  int64
 7   HOUR             16860 non-null  int64
 8   STREET1          16860 non-null  object
 9   STREET2          16860 non-null  object
 10  OFFSET           16860 non-null  object
 11  ROAD_CLASS       16860 non-null  object
 12  DISTRICT         16860 non-null  object
 13  WARDNUM          16860 non-null  object
 14  DIVISION         16860 non-null  object
 15  LATITUDE         16860 non-null  float64
 16  LONGITUDE        16860 non-null  float64
 17  LOCCOORD         16860 non-null  object
 18  ACCLOC           16860 non-null  object
 19  TRAFFCTL         16860 non-null  object
 20  VISIBILITY       16860 non-null  object
 21  LIGHT            16860 non-null  object
 22  RDSFCOND         16860 non-null  object
 23  ACCLASS          16860 non-null  object
 24  IMPACTYPE        16860 non-null  object
 25  INVTYPE          16860 non-null  object
 26  INVAGE           16860 non-null  object
 27  INJURY           16860 non-null  object
 28  FATAL_NO         16860 non-null  object
 29  INITDIR          16860 non-null  object
 30  VEHTYPE          16860 non-null  object
 31  MANOEUVER        16860 non-null  object
 32  DRIVACT          16860 non-null  object
 33  DRIVCOND         16860 non-null  object
 34  PEDTYPE          16860 non-null  object
 35  PEDACT           16860 non-null  object
 36  PEDCOND          16860 non-null  object
 37  CYCLISTYPE       16860 non-null  object
 38  CYCACT           16860 non-null  object
 39  CYCCOND          16860 non-null  object
 40  PEDESTRIAN       16860 non-null  object
 41  CYCLIST          16860 non-null  object
 42  AUTOMOBILE       16860 non-null  object
 43  MOTORCYCLE       16860 non-null  object
 44  TRUCK            16860 non-null  object
 45  TRSN_CITY_VEH    16860 non-null  object
 46  EMERG_VEH        16860 non-null  object
 47  PASSENGER        16860 non-null  object
 48  SPEEDING         16860 non-null  object
 49  AG_DRIV          16860 non-null  object
 50  REDLIGHT         16860 non-null  object
 51  ALCOHOL          16860 non-null  object
 52  DISABILITY       16860 non-null  object
 53  POLICE_DIVISION  16860 non-null  object
 54  HOOD_ID          16860 non-null  int64
 55  NEIGHBOURHOOD    16860 non-null  object
 56  ObjectId         16860 non-null  int64
dtypes: float64(4), int64(7), object(46)
memory usage: 7.3+ MB