In [ ]:
%matplotlib inline

from pathlib import Path

import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB
import matplotlib.pylab as plt

!pip install dmba
from dmba import classificationSummary, gainsChart

Collecting dmba
  Downloading dmba-0.0.19-py3-none-any.whl (11.8 MB)
     |████████████████████████████████| 11.8 MB 7.2 MB/s
Installing collected packages: dmba
Successfully installed dmba-0.0.19
no display found. Using non-interactive Agg backend

In [ ]:
ksi = pd.read_csv('KSI.csv')

In [ ]:
ksi.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16860 entries, 0 to 16859
Data columns (total 57 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   X                16860 non-null  float64
 1   Y                16860 non-null  float64
 2   INDEX_           16860 non-null  int64
 3   ACCNUM           16860 non-null  int64
 4   YEAR             16860 non-null  int64
 5   DATE             16860 non-null  object
 6   TIME             16860 non-null  int64
 7   HOUR             16860 non-null  int64
 8   STREET1          16860 non-null  object
 9   STREET2          16860 non-null  object
 10  OFFSET           16860 non-null  object
 11  ROAD_CLASS       16860 non-null  object
 12  DISTRICT         16860 non-null  object
 13  WARDNUM          16860 non-null  object
 14  DIVISION         16860 non-null  object
 15  LATITUDE         16860 non-null  float64
 16  LONGITUDE        16860 non-null  float64
 17  LOCCOORD         16860 non-null  object
 18  ACCLOC           16860 non-null  object
 19  TRAFFCTL         16860 non-null  object
 20  VISIBILITY       16860 non-null  object
 21  LIGHT            16860 non-null  object
 22  RDSFCOND         16860 non-null  object
 23  ACCLASS          16860 non-null  object
 24  IMPACTYPE        16860 non-null  object
 25  INVTYPE          16860 non-null  object
 26  INVAGE           16860 non-null  object
 27  INJURY           16860 non-null  object
 28  FATAL_NO         16860 non-null  object
 29  INITDIR          16860 non-null  object
 30  VEHTYPE          16860 non-null  object
 31  MANOEUVER        16860 non-null  object
 32  DRIVACT          16860 non-null  object
 33  DRIVCOND         16860 non-null  object
 34  PEDTYPE          16860 non-null  object
 35  PEDACT           16860 non-null  object
 36  PEDCOND          16860 non-null  object
 37  CYCLISTYPE       16860 non-null  object
 38  CYCACT           16860 non-null  object
 39  CYCCOND          16860 non-null  object
 40  PEDESTRIAN       16860 non-null  object
 41  CYCLIST          16860 non-null  object
 42  AUTOMOBILE       16860 non-null  object
 43  MOTORCYCLE       16860 non-null  object
 44  TRUCK            16860 non-null  object
 45  TRSN_CITY_VEH    16860 non-null  object
 46  EMERG_VEH        16860 non-null  object
 47  PASSENGER        16860 non-null  object
 48  SPEEDING         16860 non-null  object
 49  AG_DRIV          16860 non-null  object
 50  REDLIGHT         16860 non-null  object
 51  ALCOHOL          16860 non-null  object
 52  DISABILITY       16860 non-null  object
 53  POLICE_DIVISION  16860 non-null  object
 54  HOOD_ID          16860 non-null  int64
 55  NEIGHBOURHOOD    16860 non-null  object
 56  ObjectId         16860 non-null  int64
dtypes: float64(4), int64(7), object(46)
memory usage: 7.3+ MB

In [ ]:
nb = ksi[['ACCLASS', 'VISIBILITY', 'LIGHT', 'RDSFCOND']]

In [ ]:
nb.head()

  ACCLASS VISIBILITY     LIGHT RDSFCOND
0   Fatal      Clear  Daylight      Dry
1   Fatal      Clear  Daylight      Dry
2   Fatal      Clear  Daylight      Dry
3   Fatal      Clear  Daylight      Dry
4   Fatal      Clear      Dark      Dry

In [ ]:
nb.ACCLASS = nb.ACCLASS.astype('category')
nb.VISIBILITY = nb.VISIBILITY.astype('category')
nb.LIGHT = nb.LIGHT.astype('category')
nb.RDSFCOND = nb.RDSFCOND.astype('category')

/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:5516: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [ ]:
df = nb['ACCLASS'].value_counts()
print(df)
print(type(df))

Non-Fatal Injury        14561
Fatal                    2297
Property Damage Only        2
Name: ACCLASS, dtype: int64
<class 'pandas.core.series.Series'>

In [ ]:
nb.replace('Property Damage Only','Non-Fatal',inplace=True)
nb.replace('Non-Fatal Injury','Non-Fatal',inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:5244: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  method=method,
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:5244: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  method=method,

In [ ]:
df = nb['LIGHT'].value_counts()
print(df)
print(type(df))

Daylight                9683
Dark                    3582
Dark, artificial        2854
Dusk                     226
Dusk, artificial         184
Daylight, artificial     128
Dawn                     104
Dawn, artificial          93
Other                      6
Name: LIGHT, dtype: int64
<class 'pandas.core.series.Series'>

In [ ]:
nb.replace('Dark, artificial','Dark',inplace=True)
nb.replace('Dusk, artificial','Dusk',inplace=True)
nb.replace('Daylight, artificial','Daylight',inplace=True)
nb.replace('Dawn, artificial','Dawn',inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:5244: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  method=method,
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:5244: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  method=method,
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:5244: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  method=method,
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:5244: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  method=method,

In [ ]:
df1 = nb['LIGHT'].value_counts()
print(df)
print(type(df))

Daylight                9683
Dark                    3582
Dark, artificial        2854
Dusk                     226
Dusk, artificial         184
Daylight, artificial     128
Dawn                     104
Dawn, artificial          93
Other                      6
Name: LIGHT, dtype: int64
<class 'pandas.core.series.Series'>

In [ ]:
outcome = 'ACCLASS'
predictors = ['VISIBILITY','LIGHT','RDSFCOND']

X= pd.get_dummies(ksi[predictors])
y= (ksi[outcome] == 'Fatal').astype(int)
classes= ['Non-Fatal', 'Fatal']
pd.DataFrame(y)

       ACCLASS
0            1
1            1
2            1
3            1
4            1
...        ...
16855        0
16856        0
16857        0
16858        0
16859        0

[16860 rows x 1 columns]

In [ ]:
X_train, X_valid, y_train, y_valid = train_test_split(X,y, test_size=0.4, random_state=1)

nb_nb = MultinomialNB(alpha=0.1)
nb_nb.fit(X_train, y_train)

pred_prob_train = nb_nb.predict_proba(X_train)
pred_prob_valid = nb_nb.predict_proba(X_valid)

#pd.DataFrame(pred_prob_train)

y_train_pred = nb_nb.predict(X_train)
y_valid_pred = nb_nb.predict(X_valid)

In [ ]:
pd.DataFrame(pred_prob_train)

              0         1
0      0.881615  0.118385
1      0.878745  0.121255
2      0.878745  0.121255
3      0.878745  0.121255
4      0.853383  0.146617
...         ...       ...
10111  0.878745  0.121255
10112  0.968421  0.031579
10113  0.828388  0.171612
10114  0.901102  0.098898
10115  0.878745  0.121255

[10116 rows x 2 columns]

In [ ]:
index = X_train.index
indices = index.to_list()
nb.iloc[indices]

         ACCLASS VISIBILITY     LIGHT              RDSFCOND
15622  Non-Fatal      Clear  Daylight                   Wet
6627   Non-Fatal      Clear  Daylight                   Dry
9874   Non-Fatal      Clear  Daylight                   Dry
4265       Fatal      Clear  Daylight                   Dry
1495   Non-Fatal       Rain      Dark                   Wet
...          ...        ...       ...                   ...
7813       Fatal      Clear  Daylight                   Dry
10955  Non-Fatal      Clear      Dark  Loose Sand or Gravel
5192   Non-Fatal      Clear      Dark                   Dry
12172  Non-Fatal      Clear      Dusk                   Dry
235    Non-Fatal      Clear  Daylight                   Dry

[10116 rows x 4 columns]

In [ ]:
y_train_pred = pd.DataFrame(y_train_pred)
y_train_pred.rename(columns={0:'Fatal'}, inplace=True)
y_train_pred.head()

   Fatal
0      0
1      0
2      0
3      0
4      0

In [ ]:
pred_prob_train = pd.DataFrame(pred_prob_train)
pred_prob_train.rename(columns={0:'Non-Fatal_prob', 1:'Fatal_prob'}, inplace=True)
pred_prob_train

       Non-Fatal_prob  Fatal_prob
0            0.881615    0.118385
1            0.878745    0.121255
2            0.878745    0.121255
3            0.878745    0.121255
4            0.853383    0.146617
...               ...         ...
10111        0.878745    0.121255
10112        0.968421    0.031579
10113        0.828388    0.171612
10114        0.901102    0.098898
10115        0.878745    0.121255

[10116 rows x 2 columns]

In [ ]:
train_predictions = pd.concat([nb.iloc[indices].reset_index(),pred_prob_train,y_train_pred], axis=1)

In [ ]:
index = X_valid.index
indices = index.to_list()
nb.iloc[indices]

         ACCLASS VISIBILITY     LIGHT RDSFCOND
15374      Fatal      Clear  Daylight      Dry
7768   Non-Fatal      Clear      Dark      Dry
4280   Non-Fatal      Clear      Dark      Dry
5834   Non-Fatal      Clear  Daylight      Dry
15962      Fatal      Clear  Daylight      Dry
...          ...        ...       ...      ...
12989  Non-Fatal      Clear  Daylight      Dry
13328  Non-Fatal      Clear  Daylight      Dry
5265   Non-Fatal      Clear  Daylight      Dry
1735   Non-Fatal       Rain  Daylight      Wet
13608  Non-Fatal      Clear      Dark      Dry

[6744 rows x 4 columns]

In [ ]:
y_valid_pred = pd.DataFrame(y_valid_pred)
y_valid_pred.rename(columns={0:'Fatal'}, inplace=True)

In [ ]:
pred_prob_valid = pd.DataFrame(pred_prob_valid)
pred_prob_valid.rename(columns={0:'Non-Fatal_prob',1:'Fatal_prob'}, inplace=True)

In [ ]:
valid_predictions = pd.concat([nb.iloc[indices].reset_index(),pred_prob_valid,y_valid_pred], axis=1)
valid_predictions.head()

   index    ACCLASS VISIBILITY  ... Non-Fatal_prob Fatal_prob  Fatal
0  15374      Fatal      Clear  ...       0.878745   0.121255      0
1   7768  Non-Fatal      Clear  ...       0.828388   0.171612      0
2   4280  Non-Fatal      Clear  ...       0.828388   0.171612      0
3   5834  Non-Fatal      Clear  ...       0.878745   0.121255      0
4  15962      Fatal      Clear  ...       0.878745   0.121255      0

[5 rows x 8 columns]

In [ ]:
classificationSummary(y_valid,y_valid_pred, class_names=classes)

Confusion Matrix (Accuracy 0.8664)

          Prediction
   Actual Non-Fatal     Fatal
Non-Fatal      5823        15
    Fatal       886        20

In [ ]:
df = valid_predictions.sort_values(by='Fatal_prob', ascending = False)

In [ ]:
df.head(50)

      index    ACCLASS VISIBILITY  ... Non-Fatal_prob Fatal_prob  Fatal
5648  14341      Fatal     <Null>  ...       0.000005   0.999995      1
5534  16664      Fatal     <Null>  ...       0.000005   0.999995      1
4606  14291      Fatal     <Null>  ...       0.000008   0.999992      1
1850  14880      Fatal     <Null>  ...       0.000008   0.999992      1
4511  13366      Fatal      Clear  ...       0.005752   0.994248      1
6080  13365      Fatal      Clear  ...       0.005752   0.994248      1
423    8141  Non-Fatal      Other  ...       0.029825   0.970175      1
1690  15718      Fatal      Other  ...       0.029825   0.970175      1
2988   4643  Non-Fatal      Other  ...       0.292783   0.707217      1
6046   6332  Non-Fatal      Other  ...       0.292783   0.707217      1
2126   4642  Non-Fatal      Other  ...       0.292783   0.707217      1
6677  14596      Fatal      Other  ...       0.292783   0.707217      1
3780  14979      Fatal      Other  ...       0.292783   0.707217      1
4759   4634  Non-Fatal      Other  ...       0.292783   0.707217      1
861    4641  Non-Fatal      Other  ...       0.292783   0.707217      1
1924   4646  Non-Fatal      Other  ...       0.292783   0.707217      1
3429   4645  Non-Fatal      Other  ...       0.292783   0.707217      1
1725  11019      Fatal      Other  ...       0.350522   0.649478      1
2328  11020      Fatal      Other  ...       0.350522   0.649478      1
2550  14148      Fatal      Other  ...       0.383303   0.616697      1
5937  10372      Fatal      Other  ...       0.383303   0.616697      1
2201  14142      Fatal      Other  ...       0.383303   0.616697      1
1484  11961      Fatal      Other  ...       0.383303   0.616697      1
715   11676  Non-Fatal      Other  ...       0.383303   0.616697      1
1393  14595      Fatal      Other  ...       0.383303   0.616697      1
1854   1041  Non-Fatal      Other  ...       0.383303   0.616697      1
2232  11960      Fatal      Other  ...       0.383303   0.616697      1
4586  14125      Fatal      Other  ...       0.383303   0.616697      1
5895    280  Non-Fatal      Other  ...       0.383303   0.616697      1
6152  10068  Non-Fatal      Other  ...       0.383303   0.616697      1
4987  11487  Non-Fatal      Other  ...       0.383303   0.616697      1
5123  11675  Non-Fatal      Other  ...       0.383303   0.616697      1
2402   4013      Fatal      Other  ...       0.383303   0.616697      1
3955  14594      Fatal      Other  ...       0.383303   0.616697      1
5022   1042  Non-Fatal      Other  ...       0.383303   0.616697      1
4420   1080  Non-Fatal      Other  ...       0.560722   0.439278      0
846    2939      Fatal      Clear  ...       0.610222   0.389778      0
698    4841  Non-Fatal      Clear  ...       0.610222   0.389778      0
4631   2938      Fatal      Clear  ...       0.610222   0.389778      0
3798   2620  Non-Fatal      Clear  ...       0.610222   0.389778      0
374     636  Non-Fatal      Other  ...       0.630991   0.369009      0
4127    635  Non-Fatal      Other  ...       0.630991   0.369009      0
1984  10992  Non-Fatal      Other  ...       0.657111   0.342889      0
4275   3329  Non-Fatal      Other  ...       0.657111   0.342889      0
1731   3331  Non-Fatal      Other  ...       0.657111   0.342889      0
1911  10993  Non-Fatal      Other  ...       0.657111   0.342889      0
2615   3330  Non-Fatal      Other  ...       0.657111   0.342889      0
2240  11264      Fatal      Other  ...       0.657111   0.342889      0
4364  15055  Non-Fatal      Clear  ...       0.671153   0.328847      0
3253   7319      Fatal      Clear  ...       0.671153   0.328847      0

[50 rows x 8 columns]

In [ ]:
#doesn't work
valid_predictions.loc[(valid_predictions.VISIBILITY == 'Clear')]

      index    ACCLASS VISIBILITY  ... Non-Fatal_prob Fatal_prob  Fatal
0     15374      Fatal      Clear  ...       0.878745   0.121255      0
1      7768  Non-Fatal      Clear  ...       0.828388   0.171612      0
2      4280  Non-Fatal      Clear  ...       0.828388   0.171612      0
3      5834  Non-Fatal      Clear  ...       0.878745   0.121255      0
4     15962      Fatal      Clear  ...       0.878745   0.121255      0
...     ...        ...        ...  ...            ...        ...    ...
6738  11447  Non-Fatal      Clear  ...       0.767589   0.232411      0
6739  12989  Non-Fatal      Clear  ...       0.878745   0.121255      0
6740  13328  Non-Fatal      Clear  ...       0.878745   0.121255      0
6741   5265  Non-Fatal      Clear  ...       0.878745   0.121255      0
6743  13608  Non-Fatal      Clear  ...       0.862879   0.137121      0

[5827 rows x 8 columns]